### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

com/boto/botoScripts/vault.yml
com/boto/botoScripts/awsVariables.yml